ul {
    list-style-type: none;

}

.one_post {
    border: solid rgb(230, 230, 230);
}

#compose {
    margin-left: 50px;
    margin-bottom: 15px;
}

.form-control {
    width: 50%;
}

.show-as-clickable {
    cursor: pointer;
}